<h1>Vehicles Details</h1>

<table class="table table-striped">
<thead>
<tr>
    <th>VIN</th>
    <th>MAKE</th>
    <th>MODEL</th>
    <th>YEAR</th>
    <th>RED LINE RPM</th>
    <th>MAX FUEL VOLUME</th>
    <th>LAST SERVICE DATE</th>

</tr>
</thead>
<tbody>
<tr>
    <td>{{vehicleDetailVm.vehicle.vin}}</td>
    <td>{{vehicleDetailVm.vehicle.make}}</td>
    <td>{{vehicleDetailVm.vehicle.model}}</td>
    <td>{{vehicleDetailVm.vehicle.year}}</td>
    <td>{{vehicleDetailVm.vehicle.redlineRpm}}</td>
    <td>{{vehicleDetailVm.vehicle.maxFuelVolume}}</td>
    <td>{{vehicleDetailVm.vehicle.lastServiceDate}}</td>
</tr>
</tbody>
</table>